{% extends 'base_layout.html.twig' %}
{% set title_page = 'categories' %}
{% set description_page = 'categories des produits' %}



{% block javascripts %}
    {{ encore_entry_script_tags('ShowProduct') }}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% if  breadcrumbs is defined %}
        {% include 'Components/breadcrumb.html.twig' with {'breadcrumbs':breadcrumbs} %}
    {% endif %}
    <form action="{{ path( 'product_variation_create' ) }}" method="get" id="variation_product_form">
        <label for="product_id"></label>
        <input type="text" name="product_id" id="product_id" class="hidden" value="{{ app.request.attributes.get('id') }}">
    </form>
    {{ form_start(product_form) }}
        <div class="space-y-8  px-4 py-4  rounded-lg ">
        <div id="information">
            <div class="section-border">
                <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
                    <header>
                        <h3 class="label-crud-block">Information</h3>
                    </header>
                    <div class=" ">
                        <label for="Category" class="mb-1 w-full flex items-center text-base font-medium text-hoveredtext">Category</label>
                        {% include 'Components/multiselect.html.twig'with {'array': arrayTest,'selectedValues' :selectedValues} %}
                    </div>
                    <div class="w-full">
                        {{ form_label(product_form.ext_reference,'Ext reference',{'label_attr': {'class': 'label-crud-form'}}) }}
                        {{ form_widget(product_form.ext_reference,{'attr': {'class': 'input-crud-form'}}) }}
                        <div class="text-red-700 mt-1">
                            {{ form_errors(product_form.ext_reference)}}
                        </div>

                    </div>
                    <div class="w-full">
                        {{ form_label(product_form.ext_id,'Ext id',{'label_attr': {'class': 'label-crud-form'}}) }}
                        {{ form_widget(product_form.ext_id,{'attr': {'class': 'input-crud-form'}}) }}
                        <div class="text-red-700 mt-1">
                            {{ form_errors(product_form.ext_id)}}
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="flex ">
                            {% include  'Components/under_construction.html.twig'%}
                        {{ form_label(product_form.tax_rule,null,{'label_attr': {'class': 'label-crud-form'}}) }}
                        </div>
                        {{ form_widget(product_form.tax_rule,{'attr': {'class': 'input-crud-form'}}) }}
                        <div class="text-red-700 mt-1">
                            {{ form_errors(product_form.tax_rule)}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="Details">
            <div class="section-border">
                <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
                    <header>
                        <h3 class="label-crud-block">Details</h3>
                    </header>
                    <div class="w-full">
                        {{ form_label(product_form.name,'Name',{'label_attr': {'class': 'label-crud-form'}}) }}
                        {{ form_widget(product_form.name,{'attr': {'class': 'input-crud-form'}}) }}
                        <div class="text-red-700 mt-1">
                            {{ form_errors(product_form.name)}}
                        </div>
                    </div>
                    <div class="w-full">
                        {{ form_label(product_form.description,'Description',{'label_attr': {'class': 'label-crud-form'}}) }}
                        {{ form_widget(product_form.description,{'attr': {'class': 'input-crud-form'}}) }}
                        <div class="text-red-700 mt-1">
                            {{ form_errors(product_form.description)}}
                        </div>
                    </div>
                    <div class="w-full">
                        {{ form_label(product_form.short_description,'Short description',{'label_attr': {'class': 'label-crud-form'}}) }}
                        {{ form_widget(product_form.short_description,{'attr': {'class': 'input-crud-form'}}) }}
                        <div class="text-red-700 mt-1">
                            {{ form_errors(product_form.short_description)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>



        {% if hasVaration %}

        <div id="information">
            <div class="section-border">
                <div class="flex-col bg-white rounded-md  px-4 py-4">
                    <header>
                        <h3 class="label-crud-block mb-4">Variants</h3>
                    </header>
                    <div class="w-full mb-6">
                        <button class="primary-button create-button" type="submit" form="variation_product_form" value="Submit">
                            Create product variation</button>
                    </div>
                    {% include 'Components/variant_list.html.twig'with {'productsVariant' : productsVariation , 'MediaUrlVariantArray' : MediaUrlVariantArray} %}
                </div>

            </div>
        </div>
        {% else %}
            <div class="w-full">
                <button class="primary-button create-button" type="submit" form="variation_product_form" value="Submit">
                    Create product variation</button>
            </div>
            {% include 'Components/product_variation.html.twig' with {'variation_form' : product_form.productVariations[0],'in_product':false} %}

        {% endif %}
        <div id="mesure">
            <div class="section-border">
                <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
                    <header>
                        <h3 class="label-crud-block">Shipping</h3>
                    </header>
                    <div class="w-full">
                        {{ form_label(product_form.depth,'Depth',{'label_attr': {'class': 'label-crud-form'}}) }}
                        {{ form_widget(product_form.depth,{'attr': {'class': 'input-crud-form'}}) }}
                        <div class="text-red-700 mt-1">
                            {{ form_errors(product_form.depth)}}
                        </div>
                    </div>
                    <div class="w-full">
                        {{ form_label(product_form.width,'Width',{'label_attr': {'class': 'label-crud-form'}}) }}
                        {{ form_widget(product_form.width,{'attr': {'class': 'input-crud-form'}}) }}
                        <div class="text-red-700 mt-1">
                            {{ form_errors(product_form.width)}}
                        </div>
                    </div>
                    <div class="w-full">
                        {{ form_label(product_form.height,'Height',{'label_attr': {'class': 'label-crud-form'}}) }}
                        {{ form_widget(product_form.height,{'attr': {'class': 'input-crud-form'}}) }}
                        <div class="text-red-700 mt-1">
                            {{ form_errors(product_form.height)}}
                        </div>
                    </div>
                    <div class="w-full">
                        {{ form_label(product_form.weight,'Weight',{'label_attr': {'class': 'label-crud-form'}}) }}
                        {{ form_widget(product_form.weight,{'attr': {'class': 'input-crud-form'}}) }}
                        <div class="text-red-700 mt-1">
                            {{ form_errors(product_form.weight)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-[5rem]">

        </div>

        <footer class="fixed bottom-0 w-full left-0 right-0 z-40 h-[8rem] p-6 border-t border-light lg:left-auto bg-white/70 lg:w-[calc(100vw_-_17rem)]">
            <div class="pt-5">
                <div class="flex justify-end">
                    {{ form_widget(product_form.submit,{'label': 'Save Product','attr':{'class':'primary-button update-button'  }}) }}
                </div>
            </div>
        </footer>
        </div>
    {{ form_end(product_form) }}
{% endblock %}


