{% extends 'base_layout.html.twig' %}
{% set title_page = 'product' %}
{% set description_page = 'liste de produit' %}

{% block content %}
    <div class="flex">
        {% if  breadcrumbs is defined %}
            {% include 'Components/breadcrumb.html.twig' with {'breadcrumbs':breadcrumbs} %}
        {% endif %}
        <a href="{{ path('categories_Create') }}"
           class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            Create Product </a>
    </div>

    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg mt-4 mx-4">
    <table class="min-w-full divide-y  divide-gray-300">
        <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Status</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"></th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Brand</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Ext_ref</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Stock</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Condition</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white  ">
        {% for product in products %}
            <tr class="{% if  loop.index%2 %} bg-gray-300 {% endif %}">

                <td class="whitespace-nowrap py-4 pl-4  pr-3 text-sm font-medium text-gray-900 sm:pl-6">Publish</td>
                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500 ">
                    <img  width="64" src="{{ asset('/download/images/'~ product.url_link) }}" class=" rounded-lg">
                </td>
                <td class="whitespace-nowrap py-4 px-3 text-sm text-blue-600"><a href="{{ path('product_edit', {id:  product.id})  }}">{{ product.name }}</a></td>

                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{ product.ext_id }}</td>
                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{ product.ext_reference }}</td>
                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{ product.quantity }}</td>
                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{ product.current_condition }}</td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% include 'pagination.html.twig' %}
    </div>
{% endblock %}