{% extends 'base_layout.html.twig' %}
{% set title_page = 'categories' %}
{% set description_page = 'categories des produits' %}



{% block javascripts %}
    {{ encore_entry_script_tags('ShowProduct') }}
    {{ parent() }}
{% endblock %}

{% block content %}

    <form class="space-y-8  px-4 py-4 rounded-lg relative">

        <div id="information">
            <div class="shadow">
                <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
                    <header>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Information</h3>
                    </header>
                    <div class=" ">
                        <label for="Category" class="mb-1 w-full flex items-center text-base font-medium text-gray-700">Category</label>
                        {% include 'Components/multiselect.html.twig'with {'array': arrayTest,'selectedValues' :selectedValues} %}
                    </div>
                    <div class="w-full">
                        <label for="name"
                               class="w-full flex items-center text-base font-medium text-gray-700">Brand</label>
                        <div class="mt-1 w-full">
                            <input id="name" name="name" type="text" value="{{ product.getExtReference() }}"
                                   class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="Details">
            <div class="shadow">
                <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
                    <header>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Details</h3>
                    </header>
                    <div class="w-full">
                        <label for="name"
                               class="w-full flex items-center text-base font-medium text-gray-700">Name</label>
                        <div class="mt-1 w-full">
                            <input id="name" name="name" type="text" value="{{ product.getName() }}"
                                   class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                    <div class="w-full">
                        <label for="description" class="w-full flex items-center text-base font-medium text-gray-700">Description</label>
                        <div class="mt-1 w-full">
                            <textarea id="description" name="description" type="text"
                                      class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">{{ product.getDescription() }}</textarea>
                        </div>

                    </div>
                    <div class="w-full">
                        <label for="short_description"
                               class="w-full flex items-center text-base font-medium text-gray-700">Short
                            description</label>
                        <div class="mt-1 w-full">
                            <textarea id="short_description" name="short_description" type="text"
                                      class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">{{ product.getShortDescription() }}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Images">
            <div class="shadow">
                <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
                    <header>
                        <h3 class="text-lg font-medium text-gray-900">Images</h3>
                    </header>

                    <div class="mt-1 sm:col-span-2 sm:mt-0">
                        <div class="flex  justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                            <div class="space-y-1 text-center">
                                <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none"
                                     viewBox="0 0 48 48" aria-hidden="true">
                                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="flex text-sm text-gray-600">
                                    <label for="file-upload"
                                           class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                                        <span>Upload a file</span>
                                        <input id="file-upload" name="file-upload" type="file" class="sr-only">
                                    </label>
                                    <p class="pl-1">or drag and drop</p>
                                </div>
                                <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div id="information">
            <div class="shadow">
                <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
                    <header>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Variants</h3>
                    </header>
                    {% include 'Components/variant_list.html.twig'with {'productsVariant' : productsVariant , 'MediaUrlVariantArray' : MediaUrlVariantArray} %}
                </div>

            </div>
        </div>

        <div id="mesure">
            <div class="shadow">
                <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
                    <header>
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Shipping</h3>
                    </header>
                    <div class="w-full">
                        <label for="depth"
                               class="w-full flex items-center text-base font-medium text-gray-700">Depth</label>
                        <div class="mt-1 w-full">
                            <input id="depth" name="depth" type="number" value="{{ product.getDepth() }}"
                                   class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                    <div class="w-full">
                        <label for="name"
                               class="w-full flex items-center text-base font-medium text-gray-700">Width</label>
                        <div class="mt-1 w-full">
                            <input id="width" name="width" type="number" value="{{ product.getWidth() }}"
                                   class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                    <div class="w-full">
                        <label for="height"
                               class="w-full flex items-center text-base font-medium text-gray-700">Height</label>
                        <div class="mt-1 w-full">
                            <input id="height" name="height" type="number" value="{{ product.getHeight() }}"
                                   class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                    <div class="w-full">
                        <label for="weight"
                               class="w-full flex items-center text-base font-medium text-gray-700">Weight</label>
                        <div class="mt-1 w-full">
                            <input id="weight" name="weight" type="number" value="{{ product.getWeight() }}"
                                   class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="fixed bottom-0 w-auto left-0 right-0 z-40 p-6 border-t border-gray-100 lg:left-auto bg-red-100 lg:w-[calc(100vw_-_16rem)]">
            <div class="pt-5">
                <div class="flex justify-end">
                    <button type="button"
                            class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        Cancel
                    </button>
                    <button type="submit"
                            class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                        Save
                    </button>
                </div>
            </div>
        </footer>
    </form>

{% endblock %}


