{% extends 'base_layout.html.twig' %}
{% set title_page = 'categories' %}
{% set description_page = 'categories des produits' %}



{% block javascripts %}
    {{ encore_entry_script_tags('ShowProduct') }}
    {{ parent() }}
{% endblock %}

{% block content %}

        <form class="space-y-8  px-4 py-4  rounded-lg " action="{{ path('category_save',{'id':category.getId()}) }}"  method="PUT">
            <div id="information">
                <div class="shadow">
                    <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
                        <header>
                            <h3 class="text-lg font-medium leading-6 text-gray-900">Information</h3>
                        </header>
                        <div class="w-full">
                            <label for="name"
                                   class="w-full flex items-center text-base font-medium text-gray-700">Name</label>
                            <div class="mt-1 w-full">
                                <input id="name" name="name" type="text" value="{{ category.getName() }}"
                                       class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>
                        <div class="w-full">
                            <label for="parent"
                                   class="w-full flex items-center text-base font-medium text-gray-700">Name</label>

                            <div class="mt-1 w-full">
                                <input id="parent" name="parent" type="text" value="{{ category.getParent() }}"
                                       class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="other_details">
                <div class="shadow">
                    <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
                        <header>
                            <h3 class="text-lg font-medium leading-6 text-gray-900">Other details</h3>
                        </header>
                        <div class="w-full">
                            <label for="url_rewritter"
                                   class="w-full flex items-center text-base font-medium text-gray-700">Url
                                rewirtten</label>
                            <div class="mt-1 w-full">
                                <input id="url_rewritter" name="url_rewritter" type="text" value="{{ category.getUrlRewritten() }}"
                                       class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>
                        <div class="w-full">
                            <label for="description"
                                   class="w-full flex items-center text-base font-medium text-gray-700">Description</label>
                            <div class="mt-1 w-full">
                            <textarea id="description" name="description" type="text"
                                      class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">{{ category.getDescription() }}</textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="meta_data" >
                <div class="shadow">
                    <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
                        <header>
                            <h3 class="text-lg font-medium leading-6 text-gray-900">Meta data</h3>
                        </header>
                        <div class="w-full">
                            <label for="meta_title"
                                   class="w-full flex items-center text-base font-medium text-gray-700">Meta
                                title</label>
                            <div class="mt-1 w-full">
                                <input id="meta_title" name="meta_title" type="text" value="{{ category.getMetaTitle() }}"
                                       class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>
                        <div class="w-full">
                            <label for="meta_description"
                                   class="w-full flex items-center text-base font-medium text-gray-700">Meta
                                description</label>
                            <div class="mt-1 w-full">
                            <textarea id="meta_description" name="meta_description" type="text"
                                      class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">{{ category.getMetaDescription() }}</textarea>
                            </div>
                        </div>
                        <div class="w-full">
                            <label for="meta_keyword"
                                   class="w-full flex items-center text-base font-medium text-gray-700">Meta
                                keyword</label>
                            <div class="mt-1 w-full">
                                <input id="meta_keyword" name="meta_keyword" type="text" value="{{ category.getMetaKeyword() }}"
                                       class="w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-[5rem]">

            </div>
            <footer class="fixed bottom-0 w-full left-0 right-0 z-40 h-[8rem] p-6 border-t border-gray-100 lg:left-auto bg-white/70 lg:w-[calc(100vw_-_17rem)]">
                <div class="pt-5">
                    <div class="flex justify-end">
                        <button type="button"
                                class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            Cancel
                        </button>
                        <button type="submit"
                                class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                            Save
                        </button>
                    </div>
                </div>
            </footer>
        </form>

{% endblock %}


