{% extends 'base.html.twig' %}


{% block body %}
    <div>

        <div class="hidden lg:fixed lg:inset-y-0 lg:flex lg:w-64 lg:flex-col">
            <div class="flex min-h-0 flex-1 flex-col shadow-2xl bg-white">
                <div class="flex flex-1 flex-col overflow-y-auto pt-5 pb-4">
                    <div class="flex flex-shrink-0 items-center px-4">
                        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                             alt="Your Company">
                    </div>
                    <nav x-data="{currentState : 'team'}" class="flex-1 space-y-1 bg-white px-2" aria-label="Sidebar">
                        <div>
                            <a href="{{ path('dashboard') }}"
                               class="bg-gray-100 text-gray-900 group flex w-full items-center rounded-md py-2 pl-7 pr-2 text-sm font-medium">Dashboard</a>
                        </div>
                        <div class="space-y-1">
                            <button @Click="currentState = currentState == 'team'?'':'team'" type="button"
                                    class="bg-white text-gray-600 hover:bg-gray-50 hover:text-gray-900 group flex w-full items-center rounded-md py-2 pr-2 text-left text-sm font-medium focus:outline-none focus:ring-2 focus:ring-indigo-500"
                                    aria-controls="sub-menu-1" aria-expanded="false">
                                <!-- Expanded: "rotate-90 text-gray-400", Collapsed: "text-gray-300" -->
                                <svg class="text-gray-300 mr-2 h-5 w-5 flex-shrink-0 transform transition-colors duration-150 ease-in-out group-hover:text-gray-400"
                                     viewBox="0 0 20 20" aria-hidden="true">
                                    <path d="M6 6L14 10L6 14V6Z" fill="currentColor"/>
                                </svg>
                                Catalogue
                            </button>

                            <div>
                                <a
                                        id="theme-switcher"
                                        class="block w-full whitespace-nowrap bg-transparent px-3 py-2 text-sm font-normal text-gray-700 hover:bg-gray-100 focus:bg-gray-200 focus:outline-none active:text-zinc-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-gray-400 dark:text-gray-100 dark:hover:bg-gray-600 focus:dark:bg-gray-600"
                                        href="#"
                                        data-theme="light">
                                    <div class="pointer-events-none">
                                        <div
                                                class="inline-block w-[24px] text-center"
                                                data-theme-icon="light">
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24"
                                                    fill="currentColor"
                                                    class="inline-block h-6 w-6">
                                                <path
                                                        d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z" />
                                            </svg>
                                        </div>
                                        <span data-theme-name="light">Light</span>
                                    </div>
                                </a>
                                <a
                                        id="theme-switcher"
                                        class="block w-full whitespace-nowrap bg-transparent px-3 py-2 text-sm font-normal text-gray-700 hover:bg-gray-100 focus:bg-gray-200 focus:outline-none active:text-zinc-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-gray-400 dark:text-gray-100 dark:hover:bg-gray-600 focus:dark:bg-gray-600"
                                        href="#"
                                        data-theme="dark"
                                        data-te-dropdown-item-ref>
                                    <div class="pointer-events-none">
                                        <div
                                                class="inline-block w-[24px] text-center"
                                                data-theme-icon="dark">
                                            <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24"
                                                    fill="currentColor"
                                                    class="inline-block h-6 w-6">
                                                <path
                                                        fill-rule="evenodd"
                                                        d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z"
                                                        clip-rule="evenodd" />
                                            </svg>
                                        </div>
                                        <span data-theme-name="dark">Dark</span>
                                    </div>
                                </a>
                            </div>
                            <button x-data="{enabled : false}" @click="enabled =! enabled" type="button"
                                    :class="enabled ? ' bg-indigo-600' : ' bg-gray-200'"
                                    class="bg-gray-200 relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2" role="switch" aria-checked="false">
                                <span class="sr-only">Use setting</span>
                                <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
                                <span aria-hidden="true" :class="enabled ? 'translate-x-5 ' : 'translate-x-0 '" class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"></span>
                            </button>

                            <!-- Expandable link section, show/hide based on state. -->
                            <div x-show="currentState == 'team'" class="space-y-1" id="sub-menu-1">
                                <a href="{{ path('products_list') }}"
                                   class="group flex w-full items-center rounded-md py-2 pl-10 pr-2 text-sm font-medium text-gray-600 hover:bg-gray-50 hover:text-gray-900">
                                    Products</a>
                                <a href="{{ path('categories_list') }}"
                                   class="group flex w-full items-center rounded-md py-2 pl-10 pr-2 text-sm font-medium text-gray-600 hover:bg-gray-50 hover:text-gray-900">
                                    Categories</a>
                                <a href="{{ path('manufacter_list') }}"
                                   class="group flex w-full items-center rounded-md py-2 pl-10 pr-2 text-sm font-medium text-gray-600 hover:bg-gray-50 hover:text-gray-900">
                                    Manufacters</a>
                                <a href="{{ path('condition_product_list') }}"
                                   class="group flex w-full items-center rounded-md py-2 pl-10 pr-2 text-sm font-medium text-gray-600 hover:bg-gray-50 hover:text-gray-900">
                                    Conditions</a>
                                <a href="{{ path('user_list') }}"
                                   class="group flex w-full items-center rounded-md py-2 pl-10 pr-2 text-sm font-medium text-gray-600 hover:bg-gray-50 hover:text-gray-900">
                                    User management</a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="flex flex-shrink-0 border-t border-gray-200 p-4 justify-between">
                    <div class="flex items-center">

                        <div class="ml-3">
                            <p class="text-sm font-medium text-gray-700 group-hover:text-gray-900">
                                {{ app.user.name }}</p>
                            <p class="text-xs font-medium text-gray-500 group-hover:text-gray-700">{{ app.user.email }}</p>
                        </div>
                    </div>
                    <div class="flex items-center justify-items-end ">
                        <a href="{{ path('app_logout') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor" class="w-12 h-12">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-1 flex-col lg:pl-64">
            <div class="sticky top-0 z-10 pl-1 pt-1 sm:pl-3 sm:pt-3 lg:hidden">
                <button type="button"
                        class="-ml-0.5 -mt-0.5 inline-flex h-12 w-12 items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
                    <span class="sr-only">Open sidebar</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>
            </div>
            <main class="flow-root bg-white">
                <section class="flex-1 w-full">
                    <div class="py-4 px-4 mx-auto  overflow-x-auto sm:px-6 lg:px-8 ">
                        {% block content %}
                        {% endblock %}
                    </div>
                </section>

            </main>
        </div>
    </div>


{% endblock %}
