{% if in_product %}
    {{ form_start(variation_form) }}
{% endif %}

<div id="Images">
    <div class="section-border">
        <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4" x-data="{ files: null }">
            <header>
                <div class="flex ">
                    {% include  'Components/under_construction.html.twig' %}
                <h3 class="label-crud-block">Images</h3>
                    </div>
            </header>

            <div class="mt-1 sm:col-span-2 sm:mt-0 relative">
                {{ form_widget(variation_form.images,{'attr':{'class' :'absolute  inset-0 z-50 m-0 p-0 w-full h-full outline-none opacity-0'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.images) }}
                </div>
                <div class="flex  justify-center rounded-md border-2 border-dashed border-inputborder px-6 pt-5 pb-6">
                    <div class="space-y-1 text-center text-sm ">
                        <svg class="mx-auto h-12 w-12 text-inputborder" stroke="currentColor" fill="none"
                             viewBox="0 0 48 48" aria-hidden="true">
                            <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <div class="flex text-sm text-symplytext">
                            <label for="file-upload"
                                   class="relative cursor-pointer rounded-md bg-white font-medium  focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hovered hover:text-indigo-500">
                                <span>Click in this area</span>
                            </label>
                            <p class="pl-1">or drag and drop</p>
                        </div>
                        <p class="text-xs text-symplytext">PNG, JPG, GIF up to 10MB</p>
                    </div>
                </div>
            </div>
            <div class="w-full flex overflow-auto">
                {% for image in variation_form.vars.data.getMediaUrls().toArray() %}
                    <img src="{{ asset('/download/images/'~ image.urlLink) }}" width="128"
                         class="border-2 border-gray-300 rounded-md" alt="image d'une variation de produit"
                    >
                {% endfor %}
            </div>

        </div>

    </div>
</div>
<div id="pricing">
    <div class="section-border">
        <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
            <header>
                <h3 class="label-crud-block">Pricing</h3>
            </header>

            <div class="w-full">
                {{ form_label(variation_form.price_tax_exclude,'Price tax exclude',{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.price_tax_exclude,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.price_tax_exclude) }}
                </div>
            </div>
            <div class="w-full">
                {{ form_label(variation_form.wholesale_price,'Wholesale price',{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.wholesale_price,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.wholesale_price) }}
                </div>
            </div>

            <div class="w-full">
                    {{ form_label(variation_form.discount_id,'Discount',{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.discount_id,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.discount_id) }}
                </div>
            </div>


            <div class="w-full">
                {{ form_label(variation_form.on_sale,'On sale',{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.on_sale,{ 'attr':{'class':'h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600' }}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.on_sale) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="stock">
    <div class="section-border">
        <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
            <header>
                <h3 class="label-crud-block">Stock</h3>
            </header>
            <div class="w-full">
                {{ form_label(variation_form.quantity,'Quantity',{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.quantity,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.quantity) }}
                </div>
            </div>
            <div class="w-full">
                {{ form_label(variation_form.minimal_quantity,'Minimal quantity',{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.minimal_quantity,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.minimal_quantity) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="information">
    <div class="section-border">
        <div class="flex-col bg-white rounded-md space-y-4 px-4 py-4">
            <header>
                <h3 class="label-crud-block">Information</h3>
            </header>
            <div class="w-full">
                {{ form_label(variation_form.name,'Name',{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.name,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.name) }}
                </div>
            </div>

            <div class="w-full">
                {{ form_label(variation_form.ext_id,'Ext identifier',{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.ext_id,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.ext_id) }}
                </div>
            </div>
            <div class="w-full">
                {{ form_label(variation_form.ext_reference,'Ext reference',{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.ext_reference,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.ext_reference) }}
                </div>
            </div>
            <div class="w-full">
                {{ form_label(variation_form.condition_product_id,'Condition',{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.condition_product_id,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.ext_reference) }}
                </div>
            </div>
            <div class="w-full">

                {{ form_label(variation_form.manufacter,null,{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.manufacter,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.manufacter) }}
                </div>
            </div>
            <div class="w-full">
                {{ form_label(variation_form.attribute,null,{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.attribute,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.manufacter) }}
                </div>
            </div>
            <div class="w-full">
                {{ form_label(variation_form.ean13,'EAN13',{'label_attr': {'class': 'label-crud-form'}}) }}
                {{ form_widget(variation_form.ean13,{'attr': {'class': 'input-crud-form'}}) }}
                <div class="text-red-700 mt-1">
                    {{ form_errors(variation_form.ean13) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% if in_product %}
    {{ form_end(variation_form) }}
{% endif %}

